# Database Configuration
HOST=192.168.10.56
PORT=3307
DATABASE=db_neb_django_newmodel
USER=root_access
PASSWORD=root_access
USER_LOG=user_log

# File save path for scanned images
BASE_SAVE_PATH=./scanned_images
